body {
    font-family: Arial, sans-serif;
}

.w3-blue a {
    color: black;
}

/* Add custom styles for other pages here */
.w3-container, .w3-bar-item, h1, h2, p, a {
    
    font-size: 18px; /* Adjusted font size */
}


        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            position: relative;
        }
        #bg-video {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
        }
        .logo {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 150px;
            z-index: 1;
        }
        .menu-toggle {
            display: none;
            position: fixed;
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 2;
        }
        .menu {
            display: flex;
            justify-content: flex-end;
        }
        .menu a {
            text-decoration: none;
            color: black;
            padding: 10px 20px;
            transition: 0.3s;
        }
        .menu a:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
        @media screen and (max-width: 768px) {
            .menu-toggle {
                display: block;
            }
            .menu {
                display: none;
                flex-direction: column;
                position: fixed;
                top: 60px;
                right: 0;
                background-color: #333;
                width: 200px;
                padding-top: 20px;
                transition: 0.5s;
                z-index: 1;
            }
        }

.container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

input[type="text"],
select,
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
select:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: #3498db;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

label {
    font-family: 'Arial Black', sans-serif;
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}


